header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 920px;
    padding: 5px;
}
.icon-bar {
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icon-bar img {
    height: 27px;
    width: 27px;
    margin: 0 5px;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 67px;
    height: 82px;
}
.logo-text {
    width: 286px;
    height: 79px;
}
menu {
    width: 100%;
    padding: 0;
}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
menu a {
    cursor: pointer;

    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
}
.live-curations {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    width: 100%;
}
.live-curations-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.live-curations h1 {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 61px;
    line-height: 63px;
    text-align: center;
    margin: 40px 90px 30px 90px;
}
.live-curations p {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;

    text-align: center;
    margin: 0 100px 30px 100px;
}
.upcoming-curations,
.maristella,
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.upcoming-curations-content {
    background: url(../images/upcoming-background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.upcoming-curations-content h1 {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    padding: 60px 195px 60px 210px;

    text-align: center;
}
.main-image-block {
    background: url("../images/main-image.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 10px 20px 0;

}
.main-image {
    width: 215px;
    height: 215px;
}
.maristella {
    background: #F4BAB5;
    padding: 20px 0;
}
.maristella-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.image-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 452px;
    height: 452px;
}
.record p {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 5px 60px;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    max-width: 400px;
}
.smoke {
    display: none;
}
h3 .smoke {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 37px;
    /* or 231% */

    text-align: center;
}
h1 .smoke {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 63px;
    /* or 252% */

    text-align: center;
}
.about h3 {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
    /* or 185% */
    text-align: center;
    margin: 20px 0;
}
.about h1 {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 61px;
    line-height: 63px;
   /* padding: 10px 0 20px 0; */
    /* or 103% */
    text-align: center;
}
.about p {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    margin: 20px 0;
    padding: 0 35px;
    text-align: center;
}
.about button {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: 1px solid #000000;
    padding: 5px 60px;

    background: none;
    cursor: pointer;

}

/* ---------Gallery---------- */
#mobile-element1,
#mobile-element2{
    display: none;
}
.gallery h1 {
    text-align: center;
}
.gallery {
    margin: 20px 0;
}

.gallery-content {
    display: flex;
    justify-content: space-around;
}
.gallery-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 45px 0;
    position: relative;
}
.gallery-element p {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 51px;
    /* or 142% */

    text-align: center;
}
.gallery-image {
    width: 141px;
    height: 154px;
    z-index: 2;
}
.image {
    background: url(../images/back.svg);
    width: 160px;
    height: 194px;
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
#figure1 {
    position: absolute;
    left: 20px;
    top: -60px;
    z-index: -1;
}
#figure2 {
    position: absolute;
    left: -10px;
    top: -50px;
    z-index: 3;
}
#figure3 {
    position: absolute;
    left: 20px;
    top: -20px;
    z-index: -1;
}
#figure4 {
    position: absolute;
    left: -10px;
    top: -15px;
    z-index: -1;
}
#figure5 {
    position: absolute;
    left: -20px;
    top: -50px;
    z-index: 3;
}
#figure6 {
    position: absolute;
    left: -10px;
    top: 10px;
    z-index: -1;
}
#figure7 {
    position: absolute;
    left: 5px;
    top: 40px;
    z-index: -1;
}
#figure8 {
    position: absolute;
    left: 100px;
    top: 30px;
    z-index: -1;
}
#figure9 {
    position: absolute;
    left: -80px;
    top: 0px;
    z-index: 2;
}
#figure10 {
    position: absolute;
    left: -5px;
    top: -20px;
    z-index: -1;
}
#figure11 {
    position: absolute;
    left: 5px;
    top: 40px;
    z-index: -1;
}
#figure12 {
    position: absolute;
    left: 145px;
    top: -30px;
    z-index: 2;
}
#figure13 {
    position: absolute;
    left: 80px;
    top: -30px;
    z-index: -1;
}
#figure14 {
    position: absolute;
    left: 140px;
    top: -90px;
    z-index: -1;
}
#figure15 {
    position: absolute;
    top: -20px;
    left: 40px;
    z-index: -1;
}
#figure16 {
    position: absolute;
    top: -50px;
    left: 100px;
    z-index: -1;
}
#figure17 {
    position: absolute;
    top: -40px;
    left: 60px;
    z-index: -1;
}

/* ---------Gallery---------- */

/* ---------FOOTER---------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
}
footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
.footer-content{
    display: flex;
    justify-content: space-around;

}
.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 80px 0;
}
footer h1 {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 17px;
    margin-bottom: 10px;
}
footer a {
    font-family: 'Abhaya Libre', serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 17px;

    cursor: pointer;
}
.footer-menu  {
    display: none;
}
.form-h1 {
    max-width: 255px;
}
#email {
    background: none;
    border:none;
    border-bottom: 1px solid black;
}
#email::placeholder {
    font-size: 14px;
}
#check-about,
#check-visit,
#check-partner,
#check-find {
    display: none;
}
#footer-1,
#footer-2,
#footer-3,
#footer-4{
    display: none;
}
#check-about:checked ~ #footer-1 {
    display: flex;
    flex-direction: column;
}
#check-visit:checked ~ #footer-2 {
    display: flex;
    flex-direction: column;
}
#check-partner:checked ~ #footer-3 {
    display: flex;
    flex-direction: column;
}
#check-find:checked ~ #footer-4 {
    display: flex;
    flex-direction: column;
}
.menu-punkt {
    border-bottom: 1px solid black;
}
.menu-punkt h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-img {
    padding:  15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------FOOTER---------- */

/* ---------BURGER_MENU---------- */

#mobile-menu {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #fff8f7;
    z-index: 111;
    overflow: auto;
}
#mobile-menu ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
}
#check {
    display: none;
  }
label #btn-on,
label #btn-ex {
    position: fixed;
    cursor: pointer;
  }
label #btn-on {
    left: 40px;
    top: 60px;
    display: none;
    z-index: 1111;
  }
label #btn-ex {
    left: -246px;
    z-index: 1111;
    top: 20px;
  }
#check:checked ~ #mobile-menu {
    left: 0;
    top: 0;
  }
#check:checked ~ label #btn-on {
    left: -300px;
    opacity: 0;
    pointer-events: none;
  }
#check:checked ~ label #btn-ex {
    left: 200px;
    top: 20px;
  }

/* ---------BURGER_MENU---------- */



/* ---------ADAPTIVE---------- */

@media screen and (max-width : 924px) {
    .container {
        max-width : 924px
    }
    menu {
        display: none;
    }
    label #btn-on {
        display: flex;
    }
    .about h1 {
        font-size: 40px;
    }
    .about h3 {
        font-size: 16px;
    }
    .about p {
        font-size: 14px;
    }
}

@media screen and (max-width : 858px) {
    .container {
        max-width : 858px
    }
    #three {
        display: none;
    }
    #mobile-element1,
    #mobile-element2{
        display: flex;
    }
    .upcoming-curations-content h1 {
        padding: 30px 97px 30px 97px;
    }
}
@media screen and (max-width : 724px) {
    .container {
        max-width : 724px
    }
    .maristella-content {
        flex-direction: column;
    }
    .smoke {
        display: flex;
    }
    .about {
        height: 200px;
    }
    .about h3,
    .about h1 {
        display: none;
    }
    .about p {
        font-family: 'Abhaya Libre', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */

        text-align: center;
    }
    .about button {
        background: #000000;
        border: 1px solid #000000;
        box-sizing: border-box;
        color: white;
    }
    #two {
        display: none;
    }

}
@media screen and (max-width: 620px) {
    .container {
        max-width : 620px
    }
    .footer-content {
        display: none;
    }
    .footer-menu {
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width: 452px) {
    .container {
        max-width : 452px
    }

    .live-curations h1 {
        font-size: 25px;
        line-height: 63px;
        margin: 20px 45px 20px 45px;
    }
    .live-curations p {
        font-size: 16px;
        line-height: 25px;
        margin: 0px 50px 15px 50px;
    }
    .upcoming-curations-content h1 {
        font-size: 25px;
        line-height: 40px;
        padding: 15px 40px;
    }
    .image-content {
        min-width: 337px;
    }
    .main-image {
        width: 168px;
        height: 168px;
    }
}


/* ---------ADAPTIVE---------- */